* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  /* background-color: rgb(25, 29, 29); */
  
}

.link-to-editor{
  overflow: hidden;
}

button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}


.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.sidebar {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  /* box-shadow: 0rem .15rem 0rem rgba(0, 170, 255, 0.1); */
  /* box-shadow: 0rem .02rem 0rem #0D6EFD ; */
}

.sidebar--note {
  display: flex;
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  
}

.sidebar--header > h3 {
  font-size: 1.75rem;
}

.new-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

.first-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

.future-plans-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  /* padding: 0.5rem 0; */
  
}
.future-plans{
  font-weight: 700;
  color: #4A4E74;
}




/* Editor */

.editor {
  width: 100%;
  height: 100vh;
}

.title {
  overflow: hidden;
  width: 100%;
  /* height: 3rem; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
  
}

.text-snippet {
  /* padding-inline: 5px;
  font-size: 0.8rem; */
  /* font-weight: 400; */
  /* line-height: 1.2rem; */
  /* color: #4A4E74; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-bottom: 0; */
}
/* .text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4A4E74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
} */

.selected-note {
  /* background-color: #4A4E74; */
  background-color: rgba(0, 170, 255, 0.1)
  ;
}

.selected-note .text-snippet {
  /* color: white; */
  color: #0D6EFD;
  font-weight: 700;
}

.gutter {
  background-color: rgba(0, 170, 255, 0.1);
  /* opacity: 0.3; */
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  /* background-color: transparent; */
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 



.no-notes {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.nav-container-2{
  display: flex;
  justify-content: center;
}



/* for header */
.header{
  display: flex;
  align-items: center;
  /* background-color: #4A4E74; */
  height: 3rem;
  margin: 0;
  /* margin-bottom: 2rem; */
  padding: 0 1rem;
  box-shadow: 0rem .1rem 0rem rgba(0, 170, 255, 0.1);
  /* box-shadow: 0rem .02rem 0rem #0D6EFD
  ; */
}

.header-text{
  margin-right: auto;
  font-size: 1rem;
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0D6EFD;
  
}

.header-button{
  background-color: transparent;
  border: 0.001rem solid black;
}



/* Recycle Bin */

.bin-con{
  color: #4A4E74;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  /* border: 0.001rem solid #4A4E74; */
  padding: 0.5rem 0;
  cursor: pointer;
}

.trash-toggle{
  position: absolute;
  left: 50%;
  top: 2rem;
  padding: 2rem;
  background-color: gray;
  z-index: 2;
  border-radius: 1rem;
}


/* settings */

.settings-con{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}


/* dark mode toggler */

.for-header-menu{
  position: relative;
}

.toggler {
  display: flex;
  position: absolute;
  top: 1.5rem;
  left: -9rem;
  background-color: gray;
  height: 7rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 1rem;
}

.toggler p {
  /* font-size: 0.625rem;
  font-weight: 600;
  text-align: center; */
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

main.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

main.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

main.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

main.dark .toggler-dark {
  color: #FFFFFF;
}

main.dark .toggler--slider {
  justify-content: flex-end;
}