* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

p{
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(25, 29, 29); */
}

.link-to-editor{
  overflow: hidden;
}

button:focus {
  outline: none;
}

.pane {
  overflow-y: auto;
}

.sidebar {
  width: 100%;
}

.sidebar--note {
  display: flex;
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  
}
/* 
.sidebar--header > h3 {
  font-size: 2rem;
} */

.future-plans-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

.notes{
  margin-bottom: 0;
  color: #0D6EFD;
  font-size: 2.1rem;
  font-weight: "530";
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
  
}

.text-snippet {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.selected-note {
  /* background-color: teal
  ; */
  background-color: rgba(0, 170, 255, 0.1)
  ;
}

.selected-note .text-snippet {
  color: darkslategray;
  /* color: #0D6EFD; */
  font-weight: 700;
}

.gutter {
  background-color: rgba(0, 170, 255, 0.1);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  /* background-color: transparent; */
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 

.no-notes {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.nav-container-2{
  display: flex;
  justify-content: center;
}

/* for header */

.header{
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
  box-shadow: 0rem .1rem 0rem rgba(0, 170, 255, 0.1);
}

.header-text{
  margin-right: auto;
  font-size: 1.2rem;
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0D6EFD;
  
}

/* dark mode toggler */

.for-header-menu{
  position: relative;
}

.toggler {
  display: flex;
  position: absolute;
  top: 1.5rem;
  left: -9rem;
  background-color: gray;
  height: 7rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 1rem;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

main.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

main.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

main.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

main.dark .toggler-dark {
  color: #FFFFFF;
}

main.dark .toggler--slider {
  justify-content: flex-end;
}

/* ediotor */

.app-main-note-preview h1{
  font-size: 1.8rem;
  font-weight: 700;
}

.app-main-note-preview p{
  font-size: 1.3rem;
}

.editor-text{
  margin: 0 5rem;
}

/* .editor-css{
  background-color: transparent;
  color: darkslategray;
  width: 100%;
  font-size: 1.3rem;
  outline: none;
  border: "none";
  resize: "none";
} */


@media(max-width: 50rem){
  .editor-text{
    margin: 0 0.9rem;
  }
}

@media(max-width: 29rem){
  .notes{
    font-size: 1.4rem;
  }
}